.App {
  font-family: "Muli", sans-serif;
}

.header_banner {
  background-image: url("./assets/images/banner-1.png");
  background-repeat: no-repeat;
  background-size: cover;
  height: 992px;
}

.features {
  background-color: #f6f6f6;
  display: flex;
  justify-content: center;
}

/*Ipad ngang(1024 x 768)*/
@media screen and (max-width: 1024px) {
  .header_banner {
    height: 1400px;
    width: 100%;
  }
}
/*Ipad dọc(768 x 1024)*/
@media screen and (max-width: 768px) {
  .header_banner {
    height: 1400px;
  }
}
